:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  /* Size */
  --padding: 12px;
  --avatar-size: 36px;
  /* font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

button,
button:focus {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

/* Video Player section */
.player,
.player:focus {
  text-align: center;
  background-color: var(--black-color);
}

.player video,
.player video:focus {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  border: none;
  cursor: pointer;
  outline: none;
}

body > .info {
  padding: var(--padding);
}
/* Meta Data + Channel Info section*/
.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}
.info .metadata .hashtags li {
  margin-right: var(--padding);
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);
}
.info .metadata .titleAndButton .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
  align-self: flex-start;
  transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}

.info .metadata .views {
  color: var(--grey-dark-color);
  font-size: var(--font-small);
}

.actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
}

.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
.info .actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

.actions button i.active {
  color: var(--blue-color);
}

/* Channel Description */

.info .channelInfo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey-light-color);
  border-top: 1px solid var(--grey-light-color);
}

.info .channelInfo .metadata {
  display: flex;
  align-items: center;
}

.info .channelInfo img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.info .channelInfo .info {
  display: flex;
  flex-direction: column;
}

.info .channelInfo .info span:nth-child(1) {
  font-size: var(--font-medium);
  font-weight: bold;
}

.info .channelInfo .info span:nth-child(2) {
  color: var(--grey-dark-color);
  font-size: var(--font-small);
}

.info .channelInfo button {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

/* @@@@@@Next Video Section@@@@@@ */

/*Up Next*/
.nextVid {
  padding: 0 var(--padding);
}

.nextVid > .title {
  color: var(--grey-dark-color);
  font-size: var(--font-medium);
  margin-bottom: calc(var(--padding) / 2);
}

.nextVid ul {
  display: flex;
  flex-direction: column;
}

.nextVid .vid {
  display: flex;
  margin-top: var(--padding);
}

.nextVid .vid .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.nextVid .vid .img img {
  width: 100%;
}

.nextVid .vid .info {
  flex: 1 1 60%;
  padding: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.nextVid li .moreBtn {
  flex: 1 1 5%;
  align-self: flex-start;
  padding: 10px;
}

.nextVid .vid .info .title {
  color: var(--black-color);
}

.nextVid li .info .channelName {
  color: var(--grey-dark-color);
  font-size: var(--font-small);
}

.nextVid li .info .views {
  color: var(--grey-dark-color);
  font-size: var(--font-micro);
}

/* INFO + UPNEXT */

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
    margin: var(--padding) 0;
  }
}
