body {
  color: white;
}

header {
  background-color: rgb(0, 0, 61);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 26px;
}

.logo i {
  color: darkgoldenrod;
}
