:root {
  --padding-large: 25px;
  --padding-medium: 15px;
  --padding-small: 5px;
  --font-large: 26px;
  --font-medium: 18px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

header {
  background-color: rgb(0, 0, 61);
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: var(--font-large);
}

.logo i {
  color: darkgoldenrod;
}

.nav .item {
  font-size: var(--font-medium);
  margin: var(--padding-large) var(--padding-medium);
}

.sns i {
  font-size: var(--font-large);
  margin: var(--padding-large) var(--padding-medium);
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    align-self: flex-start;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav .item {
    margin: var(--padding-small);
  }
}
